<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="logs" fileName="${sys:user.home}/.simpleCode/logs/${date:yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %l %t %level : %msg%n"/>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %l %t %level : %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="logs"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
